body {
	padding: 10px;
	padding-left: 20px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
	width: 100%;
}

.techtext {
	font-family: "Share Tech", 'Courier New', Courier, monospace;
	font-weight: bold;
	font-style: italic;
}

.main {
	display: flex;
}

.sidebar {
	height: 100%;
	width: 100px;
	position: sticky;
	top: 50px;
	padding-right: 20px;
}

.sidebar h4 {
	margin: 0;
}

.sidebar a {
	font-weight: normal;
	display: inline-block;
	text-decoration: none;
	color: #482400;
	margin-bottom: 5px;
	width: 100%;
}

.content {
	padding: 20px;
	padding-top: 0;
}

.content div {
	padding-top: 3px;
}

.content div h2 {
	margin-bottom: 0;
}

.content p {
	margin-top: 0;
}

.endp {
	margin-bottom: 0;
}